.App {
  text-align: center;
}

.wrapper{
  text-align: center;
  margin-top: 150px;
}

.SIbutton{
  font-size: 20px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
  background-color: antiquewhite;
}